doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    link(rel="stylesheet" href="stylesheets/styles.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    style.
      .myheader{
        background-color: #542a52
      }
      .mybutton{
        align: right;
        background-color: #542a52;
      }
      .dgender{
        border: 1px solid #ced4da;
      }
      label{
        color: #542a52
      }
      .star{
        color: #c00000
      }
    title #{title}
  body
    .container
      .py-5.text-center
        h2.myheader Student Details Entry Form
        p.lead
          | Note all fields markied with a red star (*). are required 

      .border
          .panel-body
              .container
                .row
                  .col-md-12.order-md-1
                      form.needs-validation(novalidate="" method="POST" action='/mydata')
                        .row
                          .col-md-6.mb-3
                            label(for="Sur name") Sur name 
                              span.star *
                            input#firstName.form-control(type="text" placeholder="Enter your Sur name here" value=""  name="surname" required="")
                            .invalid-feedback
                              | Valid first name is required.
                          .col-md-6.mb-3
                            label(for="Given name") Given name 
                             span.star *
                            input#lastName.form-control(type="text" placeholder="Enter your Given Name" value="" name="givenname" required="")
                            .invalid-feedback
                              | Valid last name is required.
                        .row
                          .col-md-12.mb-3
                            label(for="gender") Gender 
                              span.star *
                            div.form-row.dgender
                              div.col.form-group
                                  label.form-check.form-check-inline
                                      input.form-check-input(type="radio" name="gender" value="male")
                                      span.form-check-label Male
                              div.col.form-group
                                  label.form-check.form-check-inline
                                      input.form-check-input(type="radio" name="gender" value="female")
                                      .invalid-feedback
                                        | Please select your gendery.
                                      span.form-check-label Female
                                     
                                
                          .col-md-6.mb-3
                        .row
                          .col-md-6.mb-3
                              .form-group
                                label Date of Birth
                                input#exampleInputDOB1.form-control(type='date', placeholder='Date of Birth' name="dob" required="")
                                .invalid-feedback
                                  | Please select a valid country.
                    

                          .col-md-6.mb-3
                            label(for="country") Country 
                              span.star *
                            select#country.custom-select.d-block.w-100(name="country" required="")
                              option(value="") Choose...
                              option Uganda
                              option Rwanda
                              option Tanzania
                              option Kenya
                            .invalid-feedback
                              | Please select a valid country.

                        .row
                          .col-md-6.mb-3
                            label(for="place of residence") Place of Residence 
                              span.star *
                            input#address.form-control(type="text" placeholder="Enter your your current place of residence" name='placeofResidence' required="")
                            .invalid-feedback
                              | Please Enter your your current place of residence.
                          .col-md-6.mb-3
                            label(for="Phone number") Phone Number 
                              span.star *
                            input#phoneno.form-control(type="text" name="phoneno" placeholder="Eg 07xxxxxxxx or +256xxxxxxxx" required="")
                            .invalid-feedback
                              | Phone number required.
                        .mb-3
                          label(for="email") Email Address
                            span.star *
                            //- span.text-muted (Optional)
                          input#email.form-control(type="email" placeholder="Eg applicant@gmail.com" name="email" required="")
                          .invalid-feedback
                            | Please enter a valid email address for shipping updates.
             
                        .row
                          .col-md-6.mb-3
                            .form-group
                            label(for="Skills") Skills 
                             span.star * 
                             small.text-muted (Separate skills with commas)
                            textarea#exampleFormControlTextarea1.form-control(type="text" placeholder="" name="skils" required="")
                          .col-md-6.mb-3
                            .form-group
                            label(for='projects') Projects
                             span.star * 
                             small.text-muted (Separate projects with commas)
                            textarea#exampleFormControlTextarea1.form-control(type="text" placeholder="" name="projects" required="")
                               
                            br 
                          .row
                          .col-md-6.mb-3
                             
                          .col-md-6.mb-3.float-right
                            .row.toRight
                              .col-md-3.mb-3
                                button.btn.mybutton(type='submit') Submit

                              .col-md-3.mb-3
                                button(type="reset" class="btn btn-outline-primary") Cancel
                            

        


    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script.
      window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\\/script>')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" )
    script(src="js/form-validation.js")