doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    link(rel="stylesheet" href="stylesheets/styles.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    style.
      .myheader{
        background-color: #542a52
      }

    title #{title}
  body
    .container
      .py-5.text-center
        img.d-block.mx-auto.mb-4(src="images/f.jpg" alt="" width="72" height="72")
        h2.myheader Student Details Entry Form
        p.lead
          | Note all fields markied with a red star (*). are required 

      .border
          .panel-body
            span.border
              .container
          
                .row
                  .col-md-12.order-md-1
                      form.needs-validation(novalidate="")
                        .row
                          .col-md-6.mb-3
                            label(for="Sur name") Sur name *
                            input#firstName.form-control(type="text" placeholder="Enter your Sur name here" value="" required="")
                            .invalid-feedback
                              | Valid first name is required.
                          .col-md-6.mb-3
                            label(for="Given name") Given name *
                            input#lastName.form-control(type="text" placeholder="Enter your Given Name" value="" required="")
                            .invalid-feedback
                              | Valid last name is required.
                        div.form-group
                          label.form-check.form-check-inline Gender *
                              input.form-check-input(type="radio" name="gender" value="Female")
                              span.form-check-label Female

                          label.form-check.form-check-inline
                              input.form-check-input(type="radio" name="gender" value="Male")
                              span.form-check-label Male
                        .row
                          .col-md-6.mb-3
                            



                          .col-md-6.mb-3
                            label(for="country") Country *
                            select#country.custom-select.d-block.w-100(required="")
                              option(value="") Choose...
                              option United States
                            .invalid-feedback
                              | Please select a valid country.

                        .row
                          .col-md-6.mb-3
                            label(for="place of residence") Place of Residence *
                            input#address.form-control(type="text" placeholder="Enter your your current place of residence" required="")
                            .invalid-feedback
                              | Please Enter your your current place of residence.
                          .col-md-6.mb-3
                            label(for="Phone number") Phone Number *
                            input#zip.form-control(type="text" placeholder="Eg 07xxxxxxxx or _+256xxxxxxxx" required="")
                            .invalid-feedback
                              | Zip code required.
                        .mb-3
                          label(for="email")
                            | Email Address
                            //- span.text-muted (Optional)
                          input#email.form-control(type="email" placeholder="Eg applicant@gmail.com" required="")
                          .invalid-feedback
                            | Please enter a valid email address for shipping updates.
                        .mb-3
                          label(for="address") Address
                          input#address.form-control(type="text" placeholder="1234 Le Palm Muyenga" required="")
                          .invalid-feedback
                            | Please enter your shipping address.
                        //- .mb-3
                        //-   label(for="address2")
                        //-     | Address 2 
                        //-     span.text-muted (Optional)
                        //-   input#address2.form-control(type="text" placeholder="Apartment or suite" required="")
                        .row
                          .col-md-5.mb-3
                            label(for="country") Country
                            select#country.custom-select.d-block.w-100(required="")
                              option(value="") Choose...
                              option Uganda
                              option Kenya
                              option Rwanda
                              otpion Tanzania
                              option Burundi
                            .invalid-feedback
                              | Please select a valid country.
                          .col-md-4.mb-3
                            label(for="state") State
                            select#state.custom-select.d-block.w-100(required="")
                              option(value="") Choose...
                              option California
                            .invalid-feedback
                              | Please provide a valid state.
                          .col-md-3.mb-3
                            label(for="zip") Zip
                            input#zip.form-control(type="text" placeholder="" required="")
                            .invalid-feedback
                              | Zip code required.
                        hr.mb-4
                        button.btn.btn-primary.btn-lg.container(type="submit") Complete registration
      footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 © 2017-2019 JBC
        ul.list-inline
          li.list-inline-item
            a(href="#") Privacy
          li.list-inline-item
            a(href="#") Terms
          li.list-inline-item
            a(href="#") Support

    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script.
      window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\\/script>')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" )
    script(src="js/form-validation.js")